---
import { brandMapping, type BrandKey } from "../../types/product";

interface Props {
  selectedBrand?: BrandKey;
}

const { selectedBrand } = Astro.props;
const brands = Object.entries(brandMapping) as [BrandKey, typeof brandMapping[BrandKey]][];
---

<div class="mb-6">
  <h3 class="text-lg font-medium mb-4">Marcas</h3>
  <div class="space-y-2" id="brand-filters">
    <label class="flex items-center">
      <input
        type="checkbox"
        value=""
        data-filter="brand"
        class="mr-2"
        checked={!selectedBrand}
      />
      <span>Todas las marcas</span>
    </label>
    {brands.map(([brandKey, brandInfo]) => (
      <label class="flex items-center">
        <input
          type="checkbox"
          value={brandKey}
          data-filter="brand"
          class="mr-2"
          checked={selectedBrand === brandKey}
        />
        <div class="flex items-center gap-2">
          <img 
            src={brandInfo.logo} 
            alt={`Logo ${brandInfo.name}`}
            class="h-6 w-auto"
          />
          <span>{brandInfo.name}</span>
        </div>
      </label>
    ))}
  </div>
</div>